<div class="mt-4 mb-4">
  <h1>Edit your Pet</h1>
</div>

<div class="form p-4 bg-white rounded-4">
  <%= simple_form_for @pet  do |f|%>
  <%= f.input :name %>
  <%= f.input :birthday , as: :date %>
  <%= f.association :species_type, collection: SpeciesType.all %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
