<div class="container m-4">

  <div class="container-show-header">
    <div class="btn-appointment">
      <%= link_to "Create a new pet", new_pet_path, class: "btn btn-primary" %>
    </div>
  </div>

  <div class="container text-center d-grid gap-3">
    <h2>Hello <%= current_user.name %>!</h2>
    <h5>This are your pets:</h5>

    <div class="container d-flex justify-content-center">

      <% @pets.each do |pet| %>
        <div class="card" style="width: 18rem; margin-left: 15px;">

          <% if pet.photo.present? %>
            <%= cl_image_tag pet.photo.key, class: "card-img-top" %>
          <% else %>
            <img class="card-img-top" src="<%= image_path("vet.png") %>" alt="Card image cap">
          <% end %>

          <div class="card-body">
            <h5 class="card-title"><%= link_to pet.name, pet_path(pet), class:"ms-3 text-primary" %></h5>
            <p class="card-text"><%= pet.birthday %></p>
            <div>
              <%= link_to "Delete",  pet_path(pet), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-primary" %>
              <%= link_to "Edit",  edit_pet_path(pet), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
