<div class="container mt-4 mb-5 ml-auto conteiner-lists">
  <div data-aos="fade-right" class="container mb-5 mt-4">
    <div class="card-product rounded-4" style="justify-content: space-between;">
      <% if @pet.photo.present? %>
        <%= cl_image_tag(@pet.photo.key) %>
      <% else %>
        <img src="https://images.unsplash.com/photo-1587300003388-59208cc962cb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" />
      <% end %>
      <div class="card-product-infos">
        <h2><%= @pet.name %></h2>
      </div>
      <div class="card-product-infos p-5">
        <p>Species: <strong><%= @pet.species_type.name %></strong></p>
        <p>Pet Owner: <strong><%= @pet.user.name %></strong></p>
        <p>Birthday: <strong><%= @pet.birthday %></strong></p>
        <p><strong>Phone:</strong> <%= @pet.user.phone %></p>
        <p><strong>Email:</strong> <%= @pet.user.email %></p>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row text-center justify-content-center">
        <% if current_user.type_of_user == "Pet Owner" %>
            <div class="col-3 md-3 ">
              <%= link_to pet_appointments_path(@pet) do %>
                  <span class="fa-stack fa-4x">
                      <i class="fas fa-square fa-stack-2x text-success"></i>
                      <i class="fas fa-calendar-check fa-stack-1x fa-inverse"></i>
                  </span>
                  <div class="container d-flex justify-content-center">
                      <h4 class="my-3"><%= link_to "My Appointments", pet_appointments_path(@pet), class:"font-weight-normal text-decoration-none", style: "color: grey; max-width: 100%" %></h4>
                  </div>
              <% end %>
            </div>
        <% end %>

        <% if current_user.type_of_user == "Veterinary" %>
            <div class="col-3 mb-3">
              <%= link_to pet_veterinary_path(@pet, current_user) do %>
                      <span class="fa-stack fa-4x">
                          <i class="fas fa-square fa-stack-2x text-success"></i>
                          <i class="fas fa-calendar-check fa-stack-1x fa-inverse"></i>
                      </span>
                      <h4 class="my-3 "><%= link_to "Book an Appointment", pet_veterinary_path(@pet, current_user), class:"font-weight-normal text-decoration-none", style: "color: grey; max-width: 100%" %></h4>
                <% end %>
            </div>
        <% end %>

  <div class="col-3 mb-3">
    <%= link_to pet_vaccinations_path(@pet) do %>

            <span class="fa-stack fa-4x">
                <i class="fas fa-square fa-stack-2x text-success"></i>
                <i class="fa-solid fa-syringe fa-stack-1x fa-inverse"></i>
            </span>
                <h4 class="my-3"> <%= link_to "Vaccinations", pet_vaccinations_path(@pet), class:"font-weight-normal text-decoration-none", style: "color: grey; max-width: 100%" %></h4>

    <% end %>
  </div>

        <div class="col-3 mb-3">
            <%= link_to pet_clinical_histories_path(@pet) do %>

                  <span class="fa-stack fa-4x">
                      <i class="fas fa-square fa-stack-2x text-success"></i>
                      <i class="fas fa-mobile fa-stack-1x fa-inverse"></i>
                  </span>
                      <h4 class="my-3 md-1"><%= link_to "Clinical History", pet_clinical_histories_path(@pet), class:"font-weight-normal text-decoration-none", style: "color: grey; max-width: 85%" %></h4>


            <% end %>
        </div>

        <% if current_user.type_of_user == "Pet Owner" %>
            <div class="col-mb-4 ">
                <%= link_to pet_veterinaries_path(@pet) do %>
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-square fa-stack-2x text-success"></i>
                        <i class="fa-solid fa-house-medical fa-stack-1x fa-inverse"></i>
                    </span>
                        <h4 class="my-3"><%= link_to "Veterinaries", pet_veterinaries_path(@pet), class:"font-weight-normal text-decoration-none", style: "color: grey; max-width: 100%" %></h4>
                <% end %>
            </div>
        <% end %>
    </div>
</div>


<% if current_user.type_of_user == "Pet Owner" %>
    <div class="mt-5 mb-4 d-flex justify-content-center">
        <%= link_to "Delete",  pet_path(@pet), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-secondary shadow rounded-5", style: "margin-right: 20px; padding-left: 30px; padding-right: 30px;" %>
        <%= link_to "Edit",  edit_pet_path(@pet), class: "btn btn-secondary shadow rounded-5", style: "margin-right: 20px; padding-left: 40px; padding-right: 40px;" %>
        <%= link_to "Back to my Pets", pets_path, class:"btn btn-secondary shadow rounded-5"  %>
    </div>
  <% end %>

  <% if current_user.type_of_user == "Veterinary" %>
    <div class="mt-5 mb-4 d-flex justify-content-center">
        <%= link_to "Back to my Patients", my_patients_path, class:"btn btn-secondary shadow rounded-5"  %>
    </div>
  <% end %>
