<div class="container mt-4 ml-auto">
  <h1><%= @pet.name %></h1>

 <div class="container d-flex">

  <div class="card" style="width: 18rem; margin-left: 15px;">
    <img src="<%= image_path("calendar.webp") %>" class="card-img-top" alt="perri" style="width: 256px; height: 250px;">
      <div class="card-body d-flex justify-content-center">
       <p class="card-text"> <%= link_to "My Appointments", pet_appointments_path(@pet), class:"btn btn-secondary" %></p>
      </div>
      </div>

      <div class="card" style="width: 18rem; margin-left: 15px;">
    <img src="<%= image_path("maletin.webp") %>" class="card-img-top" alt="perri" style="width: 256px; height: 250px;">
      <div class="card-body d-flex justify-content-center">
       <p class="card-text"> <%=  link_to "Vaccination", pet_vaccinations_path(@pet), class:"btn btn-secondary" %></p>
      </div>
         </div>

      <div class="card" style="width: 18rem; margin-left: 15px;">
    <img src="<%= image_path("phile.webp") %>" class="card-img-top" alt="perri" style="width: 256px; height: 250px;">
      <div class="card-body d-flex justify-content-center">
       <p class="card-text"> <%= link_to "Clinical History", pet_clinical_histories_path(@pet), class:"btn btn-secondary" %></p>
      </div>
         </div>

       <div class="card" style="width: 18rem; margin-left: 15px;">
    <img src="<%= image_path("pata.png") %>" class="card-img-top" alt="perri" style="width: 256px; height: 250px;">
      <div class="card-body d-flex justify-content-center">
       <p class="card-text"> <%= link_to "Veterinaries", pet_veterinaries_path(@pet), class:"btn btn-secondary" %></p>
      </div>
         </div>
</div>
   </div>
