<% @vet_filtered.each do |vet| %>

          <div class="card-trip">
            <% if vet.photo != nil %>
              <%= cl_image_tag vet.photo.key  %>
            <% else %>
              <img src="https://images.unsplash.com/photo-1599443015574-be5fe8a05783?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" />
            <% end %>

            <div class="card-trip-infos">
              <div class="card-content">
                <div class="card-section">
                  <h2><%= vet.name %></h2>
                </div>
                <div class="reservation-content">
                  <% if vet.speciality != nil %>
                  <p>Specialities: <%= vet.speciality %></p>
                  <% else %>
                  <p>Specialities: Undefined</p>
                  <% end %>
                  <p>Location: <%= vet.location %></p>
                  <p>Phone: <%= vet.phone %></p>
                  <p>Doctors: <%= vet.doctors %></p>
                </div>
                <div class="reservation-actions">
                  <%= link_to "Details", pet_veterinary_path(@pet, vet), class:"ms-3 text-success"  %>
                </div>
              </div>
            </div>
          </div>
  <% end %>
