<% @vet_filtered.each do |vet| %>

  <div class="card" style="width: 18rem;">
    <% if vet.photo.present? %>
      <%= cl_image_tag vet.photo.key  %>
    <% else %>
      <img src="https://images.unsplash.com/photo-1599443015574-be5fe8a05783?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" />
    <% end %>

    <div class="card-body">
      <h5 class="card-title"><%= vet.name %></h5>
      <div>
          <% if vet.speciality.present? %>
            <p>Specialities: <%= vet.speciality %></p>
          <% else %>
            <p>Specialities: Undefined</p>
          <% end %>
      </div>
      <p class="card-text">Location: <%= vet.location %></p>
      <p class="card-text">Phone: <%= vet.phone %></p>
      <p class="card-text">Doctors: <%= vet.doctors %></p>
      <%= link_to "Details", pet_veterinary_path(@pet, vet), class:"btn btn-primary"  %>
      <%= link_to "Chat", pet_veterinary_path(@pet, vet), class:"btn btn-primary"  %>
    </div>
  </div>
<% end %>
