<div class="container" data-controller="speciality">

  <div class="form-group mt-3 mb-3 col-12">
    <p>Search your vet</p>
    <%= form_with url: veterinaries_path, method: :get, class: "d-flex" do %>
      <div class="input-group">
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Location" %>
      </div>
      <div class="input-group pl-3">
        <%= submit_tag "Search", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>


  <div class="form-group mt-3 mb-3 col-12">
    <p>Filter your results</p>
    <%= form_with url: veterinaries_path, method: :get, html: {class: "mb-4", data: { speciality_target: "form"}} do |form| %>
      <div class="input-group">
        <%= form.text_field :speciality, class: "form-control", value: params[:speciality], data: { speciality_target: "options" } %>
      </div>
      <div class="input-group pl-3">
        <%= form.submit "Filter", class: "btn btn-primary", data: { action: "click->speciality#filter" } %>
      </div>
    <% end%>

  </div>

  <% if @veterinaries != nil %>

      <div class="cards-container">
        <div class="cards" data-speciality-target="cards">

          <%= render "card" %>

    <% else %>
      <p>No results found</p>
    <% end %>
    </div>

    <div id="map" style="width: 100%; height: 600px;" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    <p>Aca iria un mapa</p>
    </div>
  </div>
</div>
