<div class="container mt-4 ml-auto" data-controller="speciality">

  <div class="d-flex justify-content-between mb-3">
      <div class="p-2"><h1>Select your Vet</h1></div>
      <div class="p-2 align-self-center h1"><i class="fa-solid fa-briefcase-medical"></i></div>
  </div>
  <hr>

  <div class= "d-flex">
    <div class="container bg-white rounded-4 mt-2 mb-2 p-3">
        <p>Search your vet</p>
        <%= form_with url: pet_veterinaries_path(@pet), method: :get do %>
          <div class="input-group">
            <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Location" %>
            <%= submit_tag "Search", class: "btn btn-primary" %>
          </div>
          <br>
        <% end %>
    </div>
  </div>

  <div class= "d-flex mt-5">

      <% if @vet_filtered != nil %>

        <div class="cards-container col-4">
          <div class="cards d-flex flex-direction-column" data-speciality-target="cards">
            <%= render "card" %>
          </div>
        </div>

      <% else %>
        <p>No results found</p>
      <% end %>

      <div class= "col-8">
        <div id="map" style="width: 100%; height: 600px;" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>

  </div>
</div>
