<div class="container mt-1 ml-auto">

  <section style="background-color: #F4F4F4;">
    <div class="container py-5">

      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4 d-flex justify-content-between" style="background-color: #FFFFFF !important;">
            <ol class="breadcrumb mb-0 align-self-center">
              <li class="breadcrumb-item h4 m-0"><%= @veterinary.name %></li>
            </ol>
            <div class="align-self-center mb-0 ml-auto h4"><i class="fa-solid fa-briefcase-medical"></i></div>
          </nav>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">

              <% if @veterinary.photo.present? %>
                <%= cl_image_tag @veterinary.photo.key  %>
              <% else %>
                <img src="https://st3.depositphotos.com/1920937/15063/v/600/depositphotos_150633440-stock-illustration-veterinary-logo-with-text-space.jpg" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px; height: 150px;" />
              <% end %>

              <h5 class="my-3"><%= @veterinary.name %></h5>
              <p class="text-muted mb-1">Veterinary</p>
              <p class="text-muted mb-4"><%= @veterinary.location %></p>
              <div class="d-flex justify-content-center mb-2">
                <%# <button type="button" class="btn btn-primary">Follow</button> %>
                <button type="button" class="btn btn-outline-primary ms-1">Message</button>
              </div>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body p-4">
              <p>New appointment</p>
              <div>
                <%= simple_form_for @appointment do |a| %>
                  <%= hidden_field_tag(:user_id, params[:id]) %>
                  <%= hidden_field_tag(:pet_id, params[:pet_id]) %>
                  <%= a.input :start_time, as: :datetime, html5: true, hint: "Select date and time", label: false %>
                  <%= a.button :submit, "Submit", class: "btn btn-primary" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Vet Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= @veterinary.name %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= @veterinary.email %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= @veterinary.phone %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Doctors</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= @veterinary.doctors %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Specialities</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= @veterinary.speciality %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Working Hours</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">From 9am to 7pm</p>
                </div>
              </div>
            </div>
        </div>

        <div class="col-lg-8" style= "width: 100%;">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-9">
                  <p class="mb-0">Appointments</p>
                </div>
                <div class="col-sm-12 mt-3 text-muted">

                    <%= month_calendar(events: @appointments) do |date, appointments| %>
                      <%= date %>
                       <% appointments.each do |appointment| %>
                        <div class="meeting">
                          <p><%= appointment.name %></p>
                          <small><%= appointment.time  %></small>
                        </div>
                      <% end %>
                    <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
