<div class="container ml-auto">

  <section class="pt-0" style="background-color: #F4F4F4; padding-bottom: 80px;">
    <div class="container">

      <div class="row">
        <div class="col" data-aos="zoom-in">
          <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4 d-flex justify-content-between" style="background-color: #FFFFFF !important;">
            <ol class="breadcrumb mb-0 align-self-center">
              <li class="breadcrumb-item h4 m-0", style="font-weight: bolder;">Clinical History for: <span class="highlight-container" style= "margin-left: 10px; padding: 10px;"><span class="highlight" style= "color: white;"><%= @pet.name %></span></span></li>
            </ol>
            <div class="align-self-center mb-0 ml-auto h4">
              <%= image_tag("avatar.png") %>
            </div>
          </nav>
        </div>
      </div>

      <div class="container bg-white rounded-4 mt-5 mb-4 p-3">
          <div class="container mt-3 mb-3">

            <div class="d-flex justify-content-between mb-3">
              <div class="p-2"><h2>Consultations</h2></div>
              <div class="p-2 d-flex justify-content-between">
                <% if current_user.type_of_user == "Veterinary" %>
                  <%# <div class="p-2 align-self-center"><%= link_to "Create new", new_pet_clinical_history_path, class: "btn btn-primary" </div> %>
                  <span class="highlight-container p-2"><span class="highlight"><%= link_to "Create new", new_pet_clinical_history_path, class: "btn-update" %></span></span>
                <% end %>

                <span class="highlight-container p-2" style="margin-left: 15px"><span class="highlight"><%= link_to "Book an appointment", pet_veterinary_path(@pet, current_user), class: "btn-update" %></span></span>
                <%# <div class="p-2"><%= link_to "Book an appointment", pet_veterinaries_path(@pet), class: "btn btn-primary" </div> %>
              </div>
            </div>

            <div class="accordion" id="accordionExample">
              <% @clinical_histories.each do |ch| %>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading<%= ch.id %>">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= ch.id %>" aria-expanded="true" aria-controls="collapse<%= ch.id %>">
                      <div class="d-flex justify-content-between">
                        <div class="m-5 mt-0 mr-0 mb-0"><%= ch.date %></div>
                        <div class="m-5 mt-0 mr-0 mb-0"><%= ch.user.name %></div>
                        <div class="m-5 mt-0 mr-0 mb-0"><%= ch.name %></div>

                        <div class="m-4 mt-0 mr-0 mb-0 align-self-center">
                          <% if current_user.type_of_user == "Veterinary" %>
                            <%= link_to edit_pet_clinical_history_path(@pet, ch), class:"ms-3 text-primary" do %>
                              <i class="fa-solid fa-pen"></i>
                            <% end %>
                          <% end %>
                        </div>
                      </div>
                    </button>
                  </h2>

                  <div id="collapse<%= ch.id %>" class="accordion-collapse collapse" aria-labelledby="heading<%= ch.id %>" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <%= ch.description %>
                    </div>
                  </div>

                </div>
              <% end %>
            </div>
          </div>
      </div>

      <hr>

      <div class="container bg-white rounded-4 mt-5 mb-4">
        <div class="container mt-3 mb-3">
          <div class="container py-4 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-md-12 col-xl-10">

                <div class="card">
                  <div class="card-header p-3 d-flex align-items-center justify-content-between">
                    <h5 class="mb-0"><i class="fas fa-tasks me-2"></i>Studies</h5>
                    <% if current_user.type_of_user == "Veterinary" %>
                      <%# <div class="p-2 align-self-center"><%= link_to "New Study", new_pet_study_path, class: "btn btn-primary"</div> %>
                       <span class="highlight-container p-2"><span class="highlight"><%= link_to "New Study", new_pet_study_path, class: "btn-update" %></span></span>
                    <% end %>
                  </div>

                  <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative">
                    <table class="table mb-0">
                      <thead>
                        <tr>
                          <th scope="col">Veterinary</th>
                          <th scope="col">Study Name</th>
                          <th scope="col">Date</th>
                          <th scope="col">Preview</th>
                          <th scope="col">Download</th>
                        </tr>
                      </thead>

                      <tbody>

                        <% @studies = [] %>
                        <% @clinical_histories.each do |ch| %>
                          <% if ch.study != nil  %>
                            <% @studies << ch.study %>
                          <% end %>
                        <% end %>

                        <% if @studies != [] %>
                          <% @studies.each do |st| %>
                            <tr class="fw-normal">
                              <td class="align-middle">
                                <span class="ms-2"> <%= st.clinical_history.user.name %> </span>
                              </td>
                              <td class="align-middle">
                                <span> <%= st.name %> </span>
                              </td>
                              <td class="align-middle">
                                <span><%= st.clinical_history.date %></span>
                              </td>

                              <td class="align-middle">
                                <% if st.photo.present? %>
                                  <%= cl_image_tag st.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                                <% end %>
                              </td>

                              <td class="align-middle">
                                <% if st.photo.present? %>
                                  <div class="m-5 mt-0 mr-0 mb-0 align-self-center">
                                    <%= link_to cl_image_path(st.photo.key, flags: :attachment) do %>
                                      <i class="fa-solid fa-file-arrow-down h5"></i>
                                    <% end %>
                                  </div>
                                <% end %>
                              </td>
                            </tr>
                          <% end %>

                        <% else %>
                          <p>No studies available yet</p>
                        <% end %>
                      </tbody>
                    </table>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

</div>
