<h1>Create new Clinical History</h1>

<%= simple_form_for @clinical_history do |f| %>
  <%= f.input :description %>
  <%= f.date :date, as: :date %>
  <%= f.input :type_of_consult, :collection => ["Consult", "Vaccination", "Study"], :prompt => "Select the type of consult" %>
  <% if @clinical_history.type_of_consult == "Vaccination"  %>

  <% end %>
  <% if @clinical_history.type_of_consult == "Study"  %>

  <% end %>
  <%= f.button :submit %>
<% end %>
