<%= turbo_frame_tag :remote_modal, target: :_top do %>
  <div class="modal fade" data-controller="modal">
    <div class="modal-dialog">
      <div class="modal-content p-3">
        <div class="modal-header">
          <%= image_tag "logo-caminando.png" %>
          <h4 class="modal-title">Edit appointment</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body mt-3">
          <div class="flat-form form-container">
            <h5>Select a new date:</h5>
            <div class="mt-3">
              <%= simple_form_for @appointment do |r| %>
              <%# <%= r.input :start_time, :as => :string, localize(r.object.start_time, format: "%-m/%d/%Y"), html5: true %>
              <%= r.datetime_select :start_time, :order => [:month, :day], html5: true %>
              <br>
              <span class="highlight-container p-1"><span class="highlight"><%= r.button :submit, class: "btn-update" %></span></span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>
