<div class="container">
  <div class="container-show-header">
    <div class="btn-appointment">
      <%= link_to "Create a new appointment", my_patients_path, class: "btn btn-primary" %>
    </div>
  </div>

  <div class="container text-center d-grid gap-3">
    <h2><%= current_user.name %>, these are your next appointments </h2>
    <% @next_appointments.each do |appointment| %>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <%= appointment.start_time.strftime('%d %B %Y') %>
          <%= appointment.start_time.strftime('%I:%M %p') %>
          <%= appointment.pet.name %>
          <%= link_to appointment_path(appointment), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
          <%= link_to edit_appointment_path(appointment), class:"ms-3 text-success" do %>
            <i class="fa-regular fa-pen-to-square"></i>
          <% end %>
          <a href="#" class="btn btn-success">Button</a>
        </li>
      </ul>
    <% end %>
  </div>
</div>
