<div class="main-container">
  <div class="form-group mt-3 mb-3 col-2 mr-1">
    <%# <p>Search by Pet Owner</p> %>
    <%= form_with url: my_patients_path, method: :get, class: "form-control" do %>
    <div class="input-group">
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search by Pet Owner" %>
    </div>
    <div class="input-group pl-3">
      <%= submit_tag "Filter", class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
  <div class="cards-patients">
    <% @mypatients_pets.each do |pet| %>
      <div class="card" style="width: 18rem;">
        <% if pet.photo.exists? %>
          <%= cl_image_tag pet.photo.key, class: "card-img-top" %>
        <% else %>
          <img class="card-img-top" src="<%= image_path("vet.png") %>" alt="Card image cap">
        <% end %>
        <%# <img class="card-img-top" src="..." alt="Card image cap"> %>
        <div class="card-body">
          <h5 class="card-title"><%= pet.name %></h5>
          <p class="card-text"><strong>Pet Owner:</strong> <%= pet.user.name %></p>
          <p class="card-text"><strong>Birthday:</strong> <%= pet.birthday %></p>
          <p class="card-text"><strong>Species:</strong> <%= pet.species_type.name %></p>
          <%= link_to "Details", pet_path(pet), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
