<div class="container">
  <div class="form-group mt-3 mb-3 col-2 mr-1">
    <p>Search by Pet Owner</p>
    <%= form_with url: my_patients_path, method: :get, class: "form-control" do %>
    <div class="input-group">
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search by Pet Owner" %>
    </div>
    <div class="input-group pl-3">
      <%= submit_tag "Filter", class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>

</div>

<div class="cards-patients">
  <% if @mypatients_pets == [] %>
    <p>No results found</p>
  <% else %>
    <% @mypatients_pets.each do |pet| %>
      <% if pet.photo.present? %>
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="card-patients" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path pet.photo.key, height: 300, crop: :fill %>')">
              <%= pet.name %>
            </div>
            <div class="card-content">
              <p><i class="fa-solid fa-person"></i><strong> Pet Owner:</strong> <%= pet.user.name %></p>
              <p><i class="fa-solid fa-cake-candles"></i><strong> Birthday:</strong> <%= pet.birthday %></p>
              <p><i class="fa-solid fa-bone"></i><strong> Species:</strong> <%= pet.species_type.name %></p>
              <br>
              <span class="highlight-container p-2"><span class="highlight"><%= link_to "Details", pet_path(pet), class: "btn-update" %></span></span>
            </div>
          </div>
        </div>
      <% else %>
        <div class="card-patients" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "vet.png", height: 300, crop: :fill %>')">
          <%= pet.name %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
