<!DOCTYPE html>
<html>
  <head>
    <title>FollowMyPet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" href= "<%= image_path "logo-perezoso.png" %>">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% unless current_page?(root_path) %>
      <%= render "shared/navbar" %>
    <% end %>
    <%= render "shared/flashes" %>
    <% unless current_page?(root_path) %>
      <div class="margin-all">
        <%= yield %>
      </div>
      <% else %>
        <%= yield %>
      <% end %>
    <%= turbo_frame_tag "remote_modal" %>
    <%= render "shared/footer" %>
  </body>
</html>
